.rest-container {
  min-height: 95dvh;
  display: grid;
  place-items: center;
}
.reset {
  min-width: 308px;
  max-width: 400px;
  width: 50%;
  background: #fff;
  padding: 21px 15px;
  border-radius: 7px;
  text-align: center;
}
.reset h3 {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.7px;
  text-transform: capitalize;
  color: var(--blue-color);
}
.reset p {
  font-size: 12px;
  margin-bottom: 20px;
}
.reset label {
  display: block;
  text-align: left;
  font-size: 13px;
  margin-bottom: 11px;
  font-weight: 500;
}
.reset input {
  padding: 4px 6px;
  border-radius: 3px;
  width: 95%;
  display: block;
  outline: 4px solid #fa4dc859;
}
.reset button {
  margin-top: 20px;
  padding: 9px 10px;
  border-radius: 14px;
  width: 60px;
  display: grid;
  place-items: center;
  background: #1e90fffc;
  color: #fff;
  border: 1px solid var(--blue-color);
  transition: 0.5s;
}
.reset button:hover {
  background-color: #fff;
  color: var(--blue-color);
}
.reset .errorMsg {
  margin-top: 6px;
  font-size: 11px;
}
.next {
  margin-left: 75%;
}
.reset .send-again {
  width: fit-content;
  padding: 0;
  color: var(--blue-color);
  background: none;
  border: none;
  text-decoration: underline;
}
